In [15]:
a=int(input("enter first no.  a="))
b=int(input("enter second no.  b="))

a,b=b,a
#print("After swapping:")
print("a=",a,"b=",b)                 #*with the help of comma
#print("a="+str(a)+"b="+str(b))      *with the help of + (+ not support to int that why it change into string and then change)

enter first no.  a= 5
enter second no.  b= 4

a= 4 b= 5

In [20]:
a=int(input("enter a no."))
for i in range(2,a):
    if a%i==0:
        print("not prime")
        break
else:
    print("prime")

enter a no. 85

not prime

In [43]:
a=int(input("enter a no."))
factorial=1
if a<0:
    print("factorial not for negative no.")
elif a==0:
    print("factorial of 0 is 1")
else:
    for i in range(1,a+1):
        factorial=factorial * i   #1*1=1,1*2=2,2*3=6,6*4=12 (main logic)
    print("factorial  of ",a,"is",factorial)

enter a no. 4

factorial  of  4 is 24

In [ ]:
reverse string without use reverse function.

In [24]:
'hello world'[11::-1]

'dlrow olleh'

In [9]:
def email_id(gmail):
    username=gmail.split('@')[0]
    print(username)
email_id('harsh@gmail.com')

harsh

In [29]:
a="""Madam Arora teaches Malayalam at noon. She enjoys reading books and listening to music."""
def character(b):
   b= a.count()
character(a)

TypeError: count expected at least 1 argument, got 0

In [45]:
def count1(paragraph):
    return count(paragraph)
    # Sample paragraph
paragraph = """Madam Arora teaches Malayalam at noon. She enjoys reading books and listening to music."""

# Use the function and print the result
print("Total charater(excluding spaces):", count1(paragraph))

Total charater(excluding spaces): 74

In [5]:
def w(paragraph):
    len(paragraph)
    a=paragraph.split()
    return len(a)

# Sample paragraph
paragraph = """Madam Arora teaches Malayalam at noon. She enjoys reading books and listening to music."""
print("Total count:", w(paragraph))

Total count: 14

In [19]:
def vowels_count(paragraph):
    vowels="aeiouAEIOU"
    count=0
    for char in paragraph:
        if char in vowels:
            count+=1
    return count

paragraph = """Madam Arora teaches Malayalam at noon. She enjoys reading books and listening to music."""
print("Total count:", vowels_count(paragraph))

Total count: 30

In [4]:
x = (1, 2, 3)
y = (1, 2, 3)
print(x==y)
print(x is y)

True
False